.Middle-Cards{
    height: 100%;
    width: 100%;
    flex: 1;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
    padding: 0px;
    padding-top: 4px;
    overflow: hidden;
}
.inside-middle-cards-container{
    /* margin-top: 4px; */
    background: hsl(227, 47%, 96%);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}
.inside-middle-cards-container:hover{
    background: hsl(222, 20%, 90%);
}

.dark-inside-middle-cards-container{
    background: hsl(228, 28%, 20%);
}
.dark-inside-middle-cards-container:hover{
    background: hsl(228, 28%, 25%)
}

/* middle - topcontainer */
.middle-card-top-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 10px 0px;
    flex-direction: row;
}
.middle-social-logo{
    margin: 0px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.middle-top-card-logo{
    height: 100%;
    width: 100%;
    position: relative;

}
.middle-socail-id{
    font-size: 12px;
    font-weight: 700;
    color: hsl(228, 12%, 44%);
}

/* middle container */
.middle-card-middle-section{
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.middle-card-followers-count{
    font-size: 45px;
    font-weight: 700;
}
.middle-followers{
    margin-top: 2px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    color: hsl(228, 12%, 44%);
}

.middle-card-bottom-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 4px;
    font-size: 12px;
    font-weight: 700;
}
.middle-card-bottom-arrow-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

