*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
    box-sizing: border-box;
}

.App{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(230, 17%, 14%);
    z-index: -2;
    /* overflow-x: hidden; */
    /* overflow: hidden; */
}
.dark{
    background: hsl(230, 17%, 14%);
    color: white;
}
.inside-app-container{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    height: 100%;
    width: 90%;
    padding: 50px 0px;
    z-index: 2;
}

@media screen and (max-width:1000px) {
    .App{
        height: 100%;
        width: 100%;
    }
}

.top-background-container{
    background: hsl(225, 100%, 98%);
    height: 45%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.dark-top-background-container{
    background: hsl(232, 19%, 15%);
}

@media screen and (max-width:500px){
    .inside-app-container{
        width: 90%;
    }
}